<h1>
<%=@user.full_name%>
</h1>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#">Watched</a></li>
  <li><a href="#">Wishlist</a></li>
</ul>

<hr>
<table>
	<tbody>
		<% @movies.each do |movie| %>
		 <%= render partial: 'movies/movie', locals: {movie: movie} %>
		<% end %>
	</tbody>
</table>