<h1>
<%=@user.full_name%>
</h1>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to "Watched", user_path(@user)%></a></li>
  <li><%= link_to "Wishlist", user_path(@user)%></a></li>
</ul>

<hr>
<table>
	<tbody>
		<% @movies.each do |movie| %>
		 <%= render partial: 'movies/movie', locals: {movie: movie} %>
		<% end %>
	</tbody>
</table>