/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*body {
	margin-left: 50px;
}
*/
h1 {
	font-family: Verdana;
}

footer {
	position: fixed;
	right: 0px;
	bottom: 0px;
	height: 20px;
	width: 30%;
	background:#999;
}
.img-thumbnail {
	max-width: none;
}

body {
	background: url('http://upload.wikimedia.org/wikipedia/commons/4/4f/Iba%2CZambalesjf9268_05.JPG');
	background-size: 100%;
}

.container {
	background-color: White;
	box-shadow: 5px 5px 5px #3F3F3F;
	padding: 15px 35px 0px 35px;
}

hr{
	box-shawdow: 3px 2px 2px #6F6F6F;
}
/*
.submit {
	float: left;
}

.search {
	float: right;
}*/

.red {
	background-color: red;
}
.blue {
	background-color: blue;
}