ADMIN USERS MANAGEMENT
<%= paginate @users %>
<hr>
<% @users.each do |user| %>
	<p>
	<%= link_to user.firstname, admin_user_path(user) %>   <%= user.lastname %>   <%= user.email %>
	</p>
<% end %>
<hr>